*{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}
.brand{
	width: 100%;
    height: 50px;
    background-color: black;
    color: silver;
    line-height: 50px;
    padding-left: 10px;
    font-size: 17px;
}

h1{
	color:purple;
	text-transform: capitalize;

	margin-bottom: 5px;
}
h4{
	font-family: sans-serif;

}
.container{
	margin: 0px auto;
    width: 300px;
    padding-top: 10px;
}
ul{
    list-style-type: none;
}
li {
	width: 100%;
}

#reverseButton {
	display: inline-block;
	cursor: pointer;
	background-color: rgb(245,245,245);
	padding: 5px;
	border-radius: 5px;
}
