<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

<div class="brand">The Dallas Morning News</div>
<div class="container">

<!-- Nunjucks tag that defines the area below as "block header" -->
<!-- This content will be swapped out for other info from department.html and bio.html -->
{% block header %}

  Welcome to the 2012 DMN Employee Directory. Please select a department to continue!<br/>
  <select>
    <option value="backfield">Backfield</option>
    <option value="business">Business</option>
    <option value="digital">Digital</option>
    <option value="editorial">Editorial</option>
    <option value="lifestyles">Lifestyles</option>
    <option value="metro">Metro</option>
    <option value="neighborsgo">NeighborsGo</option>
    <option value="news-art">News Art</option>
    <option value="photo">Photo</option>
    <option value="projects">Projects</option>
    <option value="sports">Sports</option>
    <option value="ud">Universal Desk</option>
</select>

{% endblock %} <!-- Defines the end of the Nunjucks area called "block header" -->

</div>

<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="javascripts/custom.js"></script>

</body>
</html>